
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) 
   /* IE10 IE11 */
@media screen and (max-width:1775px)
    html
        font-size: 14px
    .swiper-cases
        width: 60%
    .swiper-button-prev-news
        left: 10%
@media screen and (max-width:1200px)
    .hero
        margin-bottom: 5%
    html
        font-size: 14px
    .services
        &__col
            width: 22%
    .price
        background-size: 150%
    .swiper-button-prev
        left: 10%
    .swiper-button-next-cases
        right: 12%
    .swiper-button-next-client
        right: 12%
        &__img 
            left: 40%

@media screen and (max-width:1320px)
    .statistic
        font-size: 1rem

    .question__col__left 
        margin-left: 10%
        width: 45%
    .price__img 
        margin-left: 0
    .price__content 
        width: 100%
    .services__col
        margin-right: 15px
        padding-right: 7px
        padding-left: 7px
        width: 23%
    .menu__content__phone
        display: none
    
    .menu__content__button 
        margin-right: 5%
    .box
        display: block
        left: 83.5%
        &-link
            display: flex
            justify-content: center
            width: 50px
            height: 50px
            border-radius: 50%
            background-color: #fff
            box-shadow: 1px 1px 10px rgba(0,0,0,.4)
            .minibox, .minibox:before, .minibox:after
                display: block
                position: absolute
                height: 2px
                width: 18px
                top: 50%
                margin: auto

                background-color: #000000
            .minibox:before
                content: ''
                transition: all 0.2s
                margin-top: -6px
            .minibox:after
                content: ''
                transition: all 0.2s
                margin-top: 4px
            &_active .minibox
                background-color: transparent
                &:before
                    transform: rotate(135deg) 
                    margin-top: 0
                &:after
                    transform: rotate(-135deg) 
                    margin-top: 0
                
    .boxing
        position: fixed
        display: block
        right: -157vw
        transition: all 0.5s
        z-index: 95
        width: 100%
        height: 100%
        &__active
            right: -50%

        
        &__menu
            width: 53%
            overflow: scroll
            background-color: $light
            display: flex
            flex-direction: column
            align-items: center
            transition: all 1s

            list-style: none
            height: 100%
            padding-top: 10%
            padding-left: 0
            margin: 0
            &__block
                margin: 10%
                font-size: 2rem
            
            
            &__style
                text-align: center
                padding: 20px 0
                display: block
                font-family: 'Yanone Kaffeesatz', sans-serif
                font-size: 31px
                text-decoration: none
                color: $dark
                width: 100%
                transition: all 0.2s
                &:hover
                    width: 100%
                    background-color: rgba($light, 0.6 )
                    

    .nav__item
        font-size: 2rem
    .menu
        justify-content: space-around
    .question
        &__col
            &__title
                font-size: 1.7rem 
    .hero
        &__content
            padding-left: 5%
        &__contact
            display: none   
    .nav
        display: none

@media screen and (max-width:778px)
    .boxing__menu
        width: 100%
        background: $light
    .boxing__active 
        right: 0
    .menu__content__button
        display: none
    .services
        height: 100%
        &__content
            flex-direction: column
        &__col
            flex-direction: column
            justify-content: center
            align-items: center
            width: auto
            margin-bottom: 5%
            margin-right: 0
            text-align: center
    .price
        background-size: 400%
        &__col
            width: 100%
            padding: 5%
        &__img 
            display: none
    .cases
        &__col
            &__img
                display: none
            &__text--sm
                display: none
    .news__number__content 
        display: flex
        flex-direction: column
    .news__text 
        width: 40%
    .question
        &__img
            display: none
        &__col__left 
            width: 41%
    .hero
        background-size: 150%
    .swiper-button-next-news 
        right: 55%

    .advantage
        &__content
            display: flex
            flex-direction: column
    .advantage__content__col
        width: 100%
    .advantage__content__text
        width: 50%

@media screen and (max-width:836px)
    .stat
        height: 100%
        padding: 5%
        margin-left: -5%
    .stat__col__number 
        font-size: 2.42rem
    .stat__col__text 
        font-size: 1rem
    .client__button
        margin-top: 15px
    .menu
        justify-content: space-around
        &__content__phone 
            display: none

    .hero
        background: url('../img/bg__hero.png') no-repeat center 
        background-size: 54%
        background-position: center
        background-position-x: right
    .swiper-cases 
        width: 75%
    .news__content
        width: 100%

    .client__col
        display: none 
        
    .section
        margin-bottom: 15%
    .question__content
        display: block
    .question__col__left
        width: 80%
        margin-bottom: 13%
    .question__col--primary 
        width: 100%
    .question__form
        margin: auto
    .footer
        margin-top: -16%
@media screen and (max-width:465px)
    .news__text 
        display: none
    .video 
        min-height: 300px
@media screen and (max-width:450px)
    .question__col__left 
        width: 90%
    .advantage__content__text 
        width: 100%
    .boxing__menu 
        padding-top: 23%
    .question__form 
        margin: auto
        width: 65%
    .question__col__title 
        font-size: 1.4rem
    .services
        background: none
    .statistic 
        display: none
    .hero
        background: none
    .hero__content__text
        width: 100%
    .hero__content__title
        margin-top: 40%
        font-size: 2rem
    .title__big 
        font-size: 1.8rem
@media screen and (max-width:300px)
    .cases
        display: none
    .swiper-client 
        width: 100%
    .swiper-button-next-news 
        right: 13%
        top: 87%
    .swiper-button-prev-news 
        top: 87%
    .footer__text::after 
        content: ''
        margin-top: 0
    