.question
    &__img
        position: absolute
        top: 90%
        left: 45%
    &__content
        position: relative
        display: flex
        width: 100%
        height: 100%

    &__col
        width: 50%
        &__left
            margin-left: 16%
            width: 34%
        &--primary
            background: url('../img/bg__question.png') no-repeat center / cover
            opacity: 0.9
            padding-top: 4%
            padding-bottom: 7%

        &__title
            margin-top: 10%
        &__text
            &__group
                margin-top: 10px
            &__span
                font-weight: normal     
        &__phone
            text-decoration: none
            color: $dark
            &:hover
                color: $primary
                border-bottom: 1px solid $primary
                
        &__content
            width: 50%

        &__two
            display: flex
            font-size: 1rem
            font-weight: 300
            &__title
                margin-top: 0
            &__text
                line-height: 1.852
            &__email
                text-decoration: none
                color: $dark
                &:hover
                    color: $primary
                    border-bottom: 1px solid $primary 
        &__one
            font-size: 1.77rem
            font-weight: normal
            &__email
                text-decoration: none
                color: $primary
                border-bottom: 1px solid $primary
    &__form
        width: 45%
        margin-left: 10%
        &__input
            display: flex
            flex-direction: column
            position: relative
    &__input
        color: $light
        border-bottom: 1px solid #939497
    &__label
        margin-top: 35px
        color: $light
    &__button
        margin-top: 25px
        background: $light
        color: $primary
        &:hover
            background: $primary
            color: $light